<!-- Page Name       : Customer-Modal               -->
<!-- Date Created    : 2/15/2023                    -->
<!-- Written By      : Stephen Farkas               -->
<!-- Description     : Customer Modal               -->
<!-- MM/DD/YYYY xxx  Description                    -->
<!-- ------------------------------------------------------------------------------->
<div class="modal-header">
    <h4 class="modal-title">Account Overview</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6 pr-1">
            <div class="form-group" >
                <label>Clinic/Practice Name</label>
                <input [(ngModel)]="customerData.name" maxlength="100" name="locationName" type="text" class="form-control required" [disabled]="true">                  
            </div>
        </div>
        <div class="col-md-3 pr-1">
            <div class="form-group">
                <label>Facility Code</label>
                <input [(ngModel)]="customerData.facilityCode" maxlength="20" name="facilityCode" type="text" class="form-control required" [disabled]="true">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped" datatable >
                <!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"></table> -->
                <thead class=" text-primary">
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                </thead>

                <tr *ngFor="let item of customerData.locations">
                    <td>{{item.locationName}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.email}}</td>
                </tr>
            </table>
        </div>
    </div> 


    <div class="row">
        <div class="col-md-4 pr-1">
            <div class="form-group">
                <label>Region</label>
                <input [(ngModel)]="customerData.region" name="region" type="text" class="form-control required" [disabled]="true">
            </div>
            <div class="form-group">
                <label>AM</label>
                <input [(ngModel)]="customerData.name_AM" name="AM" type="text" class="form-control required" [disabled]="true">
            </div>
        </div>
        <div class="col-md-4 pr-1">
            <div class="form-group">
                <label>RM</label>
                <input [(ngModel)]="customerData.name_RM" name="RM" type="text" class="form-control required" [disabled]="true">
            </div>
            <div class="form-group">
                <label>TM</label>
                <input [(ngModel)]="customerData.name_TM" name="TM" type="text" class="form-control required" [disabled]="true">
            </div>
        </div>
        <div class="col-md-4  pr-1">
            <div class="form-group" >
                <label>LCS</label>
                <select multiple class="form-control" name="lcs" id="lcs" [disabled]="true">
                    <option *ngFor="let option of customerData.lcs" [value]="option.userId">
                    {{option.userName}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <h5>Services</h5>
    <div class="row">
        <div class="col-md-3 pr-1">
            <div class="form-group">
                <label>RPP</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="RPP" name="RPP" [(ngModel)]="customerData.service_RPP" [disabled]="true">
                    <label class="custom-control-label" for="RPP"></label>
                </div>
            </div>
        </div>
        <div class="col-md-3 pr-1">
            <div class="form-group">
                <label>UTI/STI</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="UTI" name="UTI" [(ngModel)]="customerData.service_UTISTI" [disabled]="true">
                    <label class="custom-control-label" for="UTI"></label>
                </div>
            </div>
        </div>
        <div class="col-md-3 pr-1">
            <div class="form-group">
                <label>GPP</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="GPP" name="GPP" [(ngModel)]="customerData.service_GPP" [disabled]="true">
                    <label class="custom-control-label" for="GPP"></label>
                </div>
            </div>
        </div>
        <div class="col-md-3 pr-1">
            <div class="form-group">
                <label>Toxicology</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="Toxicology" name="Toxicology" [(ngModel)]="customerData.service_Toxicology" [disabled]="true">
                    <label class="custom-control-label" for="Toxicology"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" (click)="closeModalButtonClicked()" class="btn btn-primary" >Close</button>
        </div>
        
    </div>
</div>
