<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <!-- Login -->
    <div class="col-md-8">
      <div class="card"  *ngIf="showLogin">
        <div class="card-header">
          <h5 class="title">Login</h5>
        </div>
        <div class="card-body">
          <form name="login-form">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Login</label>
                  <input [(ngModel)]="userEmail" name="email_address" type="email" class="form-control" placeholder="email" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Password</label>
                  <input [(ngModel)]="userPassword" name="password" type="password" class="form-control" placeholder="password">
                </div>
              </div>
            </div>
            <button [innerHTML]="loginText" type="button" (click)="loginButtonClicked()" class="btn btn-primary"></button>
            <button type="button" (click)="forgotButtonClicked()" class="btn btn-link forgot-password-button">Forgot
            your password?</button>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea rows="1" cols="80" class= "form-control alert-login">{{userError}}</textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Legal: This site is restricted</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>V2023.7.27</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Reset Code -->
    <div class="col-md-8">
      <div class="card"  *ngIf="showGetCode">
        <div class="card-header">
          <h5 class="title">Get Code</h5>
        </div>
        <div class="card-body">
          <form name="login-form">
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Login</label>
                  <input [(ngModel)]="userEmail" name="email_address" type="email" class="form-control" placeholder="email" >
                </div>
              </div>
            </div>
            <button [innerHTML]="getCodeText" type="button" (click)="resetCodeButtonClicked()" class="btn btn-primary"></button>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Reset Code</label>
                  <input [(ngModel)]="userCode" name="code" type="code" class="form-control" placeholder="code">
                </div>
              </div>
            </div>
            <button [innerHTML]="validateText" type="button" (click)="validateButtonClicked()" class="btn btn-primary"></button>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea rows="1" cols="80" class= "form-control alert-login">{{userError}}</textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Reset Password -->
    <div class="col-md-8">
      <div class="card"  *ngIf="showReset">
        <div class="card-header">
          <h5 class="title">{{ResetPassword}}</h5>
        </div>
        <div class="card-body">
          <form name="login-form">
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Password</label>
                  <input [(ngModel)]="userPassword1" name="password1" type="password" class="form-control" placeholder="password" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Password Confirm</label>
                  <input [(ngModel)]="userPassword2" name="password2" type="password" class="form-control" placeholder="password">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 pr-1">
                <label>Your password be at least 10 characters long and must contain at least 1 upper case letter, one lower case letter, one number and one of the following !@$*</label>
              </div>
            </div>
            <button [innerHTML]="resetText" type="button" (click)="resetButtonClicked()" class="btn btn-primary"></button>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea rows="1" cols="80" class= "form-control alert-login">{{userError}}</textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
