<!-- Page Name       : ShipLog                 -->
<!-- Date Created    : 02/10/2023               -->
<!-- Written By      : Stephen Farkas           -->
<!-- Description     : Create ShipLog          -->
<!-- MM/DD/YYYY xxx  Description                -->
<!-- ----------------------------------------------------------------------------- -->
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    
    <div  id="topOfScreen"></div>

    <div class="row">
    <!-- Show errors                -->
    <div class="row" *ngIf="showError" >
        <div class="col-md-12">
            <!-- Errors -->
            <div class="card">
                <div class="card-header">
                <h5 class="title">Error Message</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <textarea rows="3" cols="80" class= "form-control alert-login">{{errorMessage}}</textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

        <!-- Left Side of Screen -->
        <div class="col-md-3" *ngIf="showShipLog">
            <!-- Location -->
            <div class="row" >
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Location</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group" >
                                <label>Location</label>
                                <select class="form-control required" id="locationSelect" name="locationSelect" (change) = "locationChange()" [disabled]="editMode" [(ngModel)]="locationId">
                                    <option *ngFor="let option of locationList" [value]="option.locationId">
                                    {{option.locationName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ShipLog History 30 Days                -->
            <div class="row" >
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-md-8">
                                <h5 class="title">ShipLog History</h5>
                            </div>
                            <div class="col-md-4">
                                <button type="button" *ngIf="!editMode" (click)="newShipLogButtonClicked()" class="btn btn-primary" >New</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" datatable >
                                    <!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"></table> -->
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Status</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of shipLogHistoryData">
                                            <td>{{item.dateCreated}}</td>
                                            <td>{{item.status}}</td>
                                            <td><button *ngIf="!editMode" type="button" (click)="selectButtonClicked(item.shipLogId)" class="btn btn-primary" >Get</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Side of Screen -->
        
        <div class="col-md-9" *ngIf="showShipLog">
            <!-- ShipLog                           -->
            <div id="shipLogCard">
                <div class="row" >
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row" *ngIf="editMode">
                                    <div class="col-md-6 pr-1">
                                        <h5 class="title">ShipLog Items - {{shipLogKey}}</h5>
                                    </div>
                                    <div class="col-md-3 pr-1">
                                        <div class="form-group" >
                                            <label>Tracking Number</label>
                                            <input *ngIf="this.userType!=12 && this.userType!= 13" [(ngModel)]="shipLogData.trackingNo" maxlength="30" name="trackingNo" type="text" class="form-control">
                                            <input *ngIf="this.userType==12 || this.userType== 13"[(ngModel)]="shipLogData.trackingNo" maxlength="30" name="trackingNo" type="text" [ngClass]="shipLogData.trackingNo == '' ? 'form-control required' : 'form-control'" (change)="fieldChanged()">
                                        </div>
                                    </div>
                                </div>
                                <form name="search-form">
                                    <div class="row" *ngIf="editMode">
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group" >
                                                <label>Scan Barcode</label>
                                                <input [(ngModel)]="searchBarcode" maxlength="100" name="searchBarcode" type="text" class="form-control" (change)="fieldChanged()">
                                            </div>
                                        </div>
                                        <div class="col-md-3 pr-1">
                                            <button type="button" (click)="searchButtonClicked()" class="btn btn-primary" >Search</button>
                                        </div>
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group" >
                                                <label>Start Date</label>
                                                <input [(ngModel)]="searchStartDate" name="searchStartDate" type="date" class="form-control"  (change)="dateChanged()">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body">
                                <!-- Items   -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="color:red;">{{this.errorMessage}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-striped" datatable >
                                            <!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"></table> -->
                                            <thead class=" text-primary">
                                                <th><input type="checkbox" (change)="allSelectChange($event.target.checked)" [disabled]="editMode == false"> Select</th>
                                                <th>Specimen</th>
                                                <th>Collection Date</th>
                                                <th>Lab Type</th>
                                                <th>Patient</th>
                                                <!-- <th>DOB</th>
                                                <th>Gender</th> -->
                                            </thead>

                                            <tr *ngFor="let item of shipLogData.specimens">
                                                <td>
                                                    <label class="dark-label">
                                                        <input type="checkbox" [(ngModel)]="item.checked" [disabled]="editMode == false">
                                                    </label>
                                                </td>
                                                <td>{{item.specimenBarcode}}</td>
                                                <td>{{item.collectionDate}}</td>
                                                <td>{{item.labType}}</td>
                                                <td>{{item.patientName}}</td>
                                                <!-- <td>{{item.patientDOB}}</td>
                                                <td>{{item.patientGender}}</td> -->
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="button" *ngIf="editMode && logSave" (click)="saveButtonClicked(false)" class="btn btn-primary" >Save</button>
                                    <button type="button" *ngIf="editMode && logSave" (click)="saveButtonClicked(true)" class="btn btn-primary" >Save and Print</button>
                                    <button type="button" (click)="backButtonClicked()" class="btn btn-primary" >Back</button>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>