    <!-- Show errors                -->
    <div class="row" *ngIf="showError" >
      <div class="col-md-12">
          <!-- Errors -->
          <div class="card">
              <div class="card-header">
              <h5 class="title">Error Message</h5>
              </div>
              <div class="card-body">
                  <div class="form-group">
                      <textarea rows="3" cols="80" class= "form-control alert-login">{{errorMessage}}</textarea>
                  </div>
              </div>
          </div>

      </div>
  </div>

    <!-- Physician Buttons                   -->
    <div class="row" *ngIf="!showError" id="physicianButtons">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-3 pr-1">
                    <h5 class="title">Dashboard</h5>
                  </div>
                  <div class="col-md-3 pr-1" *ngIf="holdCount > 0">
                    <button type="button" *ngIf="buttonh!=2" style="width:100%; background-color:red; color:white" (click)="holdButtonClicked()" class="btn btn-primary" >
                      {{holdCount}} order(s) on Hold.
                    </button>
                    <button type="button" *ngIf="buttonh==2" style="width:100%; background-color:red; color:white ; box-shadow: 4px 4px 4px 4px #0c0c0c;" class="btn btn-primary" >
                      {{holdCount}} order(s) on Hold.
                    </button>
                  </div>
                  <div class="col-md-3 pr-1" *ngIf="issueCount > 0">
                    <button type="button" *ngIf="button!=2" style="width:100%; background-color:yellow; color:black" (click)="issueButtonClicked()" class="btn btn-primary" >
                      {{issueCount}} patient demographics issues.
                    </button>
                    <button type="button" *ngIf="button==2" style="width:100%; background-color:yellow; color:black; box-shadow: 4px 4px 4px 4px #0c0c0c;" class="btn btn-primary" >
                      {{issueCount}} patient demographics issues.
                    </button>
                  </div>
                  <div class="col-md-3 pr-1" *ngIf="unsignedCount > 0">
                    <button type="button" style="width:100%; background-color:yellow; color:black" (click)="signatureButtonClicked()" class="btn btn-primary" >
                      {{unsignedCount}} order(s) require signatures.
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form name="search-form">
                    <div class="row">
                        <div class="col-md-3 pr-1">
                            <div class="form-group" >
                                <label>Display</label>
                                <select class="form-control" id="searchLabStatusId" name="searchLabStatusId" [(ngModel)]="searchLocationId" (change)="loadLabSummary()">
                                    <option *ngFor="let option of locationList" [value]="option.locationId">
                                    {{option.locationName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="col-md-3 pr-1">
                          <div class="form-group" >
                              <label>Timeframe</label>
                              <select class="form-control" id="searchTimeframeId" name="searchTimeframeId" [(ngModel)]="searchTimeframeId" (change)="loadLabSummary()">
                                <option value="1">Current Week</option>
                                <option value="2">Current Month</option>
                                <option value="3">Current Year</option>
                                <option value="0">All</option>
                              </select>
                          </div>
                        </div> -->
                        <div class="col-md-3 pr-1">
                          <div class="form-group" >
                              <label>Start Date</label>
                              <input [(ngModel)]="searchStartDate" name="searchStartDate" type="date" class="form-control" (change)="loadLabSummary()">
                          </div>
                        </div>
                        <div class="col-md-3 pr-1">
                            <div class="form-group" >
                                <label>End Date</label>
                                <input [(ngModel)]="searchEndDate" name="searchEndDate" type="date" class="form-control" (change)="loadLabSummary()">
                            </div>
                        </div> 
                        <div class="col-md-3 pr-1">
                            <div class="form-group" >
                                <label>Lab Type</label>
                                <select class="form-control" id="searchLabTypeId" name="searchLabTypeId" [(ngModel)]="searchLabTypeId" (change)="loadLabSummary()">
                                  <option value="99">All</option>
                                  <option value="1">Tox - Urine</option>
                                  <option value="2">Tox - Oral</option>
                                  <option value="3">GPP</option>
                                  <option value="4">UTI/STI</option>
                                  <option value="5">RPP</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                      <div class="col-md-2 pr-1">
                        <button type="button" *ngIf="button!=1" style="width:100%; background-color:#3952A4;"(click)="searchButtonClicked(1)" class="btn btn-primary" >
                          <img src="./assets/icons/Created.png" style="float: left; height: 40px; width: 40px;">
                          Created<br>{{labOrderSummaryData.created}}
                        </button>
                        <button type="button" *ngIf="button==1" style="width:100%; background-color:#3952A4; box-shadow: 4px 4px 4px 4px #0c0c0c;" class="btn btn-primary" >
                          <img src="./assets/icons/Created.png" style="float: left; height: 40px; width: 40px;">
                          Created<br>{{labOrderSummaryData.created}}
                        </button>
                      </div>
                      <div class="col-md-2 pr-1">
                        <button type="button" *ngIf="button!=30" style="width:100%; background-color:#47C4E0;" (click)="searchButtonClicked(30)" class="btn btn-primary" >
                          <img src="./assets/icons/ReceivedAtLab.png"  style="float: left; height: 40px; width: 40px;">
                          Received at Lab<br>{{labOrderSummaryData.received}}
                        </button>
                        <button type="button" *ngIf="button==30" style="width:100%; background-color:#47C4E0; box-shadow: 4px 4px 4px 4px #0c0c0c;" class="btn btn-primary" >
                          <img src="./assets/icons/ReceivedAtLab.png"  style="float: left; height: 40px; width: 40px;">
                          Received at Lab<br>{{labOrderSummaryData.received}}
                        </button>
                      </div>
                      <div class="col-md-2 pr-1">
                        <button type="button" *ngIf="button!=40" style="width:100%; background-color:#F06B4E;" (click)="searchButtonClicked(40)" class="btn btn-primary" >
                          <img src="./assets/icons/Processing.png"  style="float: left; height: 40px; width: 40px;">
                          Processing<br>{{labOrderSummaryData.processing}}</button>
                        <button type="button" *ngIf="button==40" style="width:100%; background-color:#F06B4E; box-shadow: 4px 4px 4px 4px #0c0c0c;" class="btn btn-primary" >
                          <img src="./assets/icons/Processing.png"  style="float: left; height: 40px; width: 40px;">
                          Processing<br>{{labOrderSummaryData.processing}}</button>
                      </div>
                      <div class="col-md-2 pr-1">
                        <button type="button" *ngIf="button!=1000" style="width:100%; background-color:#666666 ;" (click)="searchButtonClicked(1000)" class="btn btn-primary" >
                          <img src="./assets/icons/CouldNotProcess.png"  style="float: left; height: 40px; width: 40px;">
                          Could Not Process<br>{{labOrderSummaryData.notProcessed}}</button>
                        <button type="button" *ngIf="button==1000" style="width:100%; background-color:#666666 ; box-shadow: 4px 4px 4px 4px #0c0c0c;" class="btn btn-primary" >
                          <img src="./assets/icons/CouldNotProcess.png"  style="float: left; height: 40px; width: 40px;">
                          Could Not Process<br>{{labOrderSummaryData.notProcessed}}</button>
                      </div>
                      <div class="col-md-2 pr-1">
                        <button type="button" *ngIf="button!=1200" style="width:100%; background-color:red;" (click)="searchButtonClicked(1200)" class="btn btn-primary" >
                          <img src="./assets/icons/Issues.png"  style="float: left; height: 40px; width: 40px;">
                          Issues<br>{{labOrderSummaryData.issue}}</button>
                        <button type="button" *ngIf="button==1200" style="width:100%; background-color:red; box-shadow: 4px 4px 4px 4px #0c0c0c;" class="btn btn-primary" >
                          <img src="./assets/icons/Issues.png"  style="float: left; height: 40px; width: 40px;">
                          Issues<br>{{labOrderSummaryData.issue}}</button>
                      </div>
                      <div class="col-md-2 pr-1">
                        <button type="button" *ngIf="button!=50" style="width:100%; background-color:green;" (click)="searchButtonClicked(50)" class="btn btn-primary" >
                          <img src="./assets/icons/Resulted.png"  style="float: left; height: 40px; width: 40px;">
                          Resulted<br>{{labOrderSummaryData.resulted}}</button>
                        <button type="button" *ngIf="button==50" style="width:100%; background-color:green; box-shadow: 4px 4px 4px 4px #0c0c0c;" class="btn btn-primary" >
                          <img src="./assets/icons/Resulted.png"  style="float: left; height: 40px; width: 40px;">
                          Resulted<br>{{labOrderSummaryData.resulted}}</button>
                      </div>
                    </div>
                </form>
              </div>
          </div>
      </div>
    </div>

    <!-- Lab Order List                                  -->
    <div class="row" *ngIf="!showError && showLabList" id="labOrderListCard">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <h4 class="card-title">Lab Orders</h4>
              <p class="category">Select a lab order</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped" datatable >
                <!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"></table> -->
                <thead class="text-primary">
                  <th>Specimen ID</th>
                  <th>Collected</th>
                  <th>Patient</th>
                  <th>Status</th>
                  <th>Actions</th>
                </thead>
                <tbody *ngIf="labOrderListData!=null">
                  <tr *ngFor="let item of labOrderListData">
                    <td>{{item.specimenBarcode}}</td>
                    <td>{{item.collectionDate}}</td>
                    <td>{{item.patient}}</td>
                    <td>{{item.status}}</td>
                    <td><button type="button" (click)="selectButtonClicked(item.labOrderId,item.labOrderSpecimenId)" class="btn btn-primary" >Select</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Demographics Issue List                                  -->
    <div class="row" *ngIf="!showError && showIssueList" id="labOrderListCard">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <h4 class="card-title">Patient Demographics Issues</h4>
              <p class="category">Select a patient</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped" datatable >
                <!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"></table> -->
                <thead class="text-primary">
                  <th>Patient</th>
                  <th>Issue</th>
                  <th>Actions</th>
                </thead>
                <tbody *ngIf="issueListData!=null">
                  <tr *ngFor="let item of issueListData">
                    <td>{{item.name}}</td>
                    <td>{{item.missing}}</td>
                    <td><button type="button" (click)="patientButtonClicked(item.patientId, item.missing)" class="btn btn-primary" >Select</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>