<!-- Page Name       : Barcode-Modal                -->
<!-- Date Created    : 09/26/2022                   -->
<!-- Written By      : Stephen Farkas               -->
<!-- Description     : Lab Order Barcode Label Modal-->
<!-- MM/DD/YYYY xxx  Description                    -->
<!-- ------------------------------------------------------------------------------->
<!-- Required scripts -->
<script type="text/javascript" src="js/qz-tray.js"></script>
<!-- Pollyfills -->
<script type="text/javascript" src="js/sample/promise-polyfill-8.1.3.min.js"></script>
<script type="text/javascript" src="js/sample/whatwg-fetch-3.0.0.min.js"></script>


<div class="modal-header">
    <h4 class="modal-title">Printing Label</h4>
  </div>
  <div class="modal-body">
  
    <div class="table-responsive">

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="closeModalButtonClicked()" class="btn btn-primary" >Close</button>
  </div>

