<!-- Page Name       : Help-Modal                   -->
<!-- Date Created    : 2/10/2023                    -->
<!-- Written By      : Stephen Farkas               -->
<!-- Description     : Help Modal                   -->
<!-- MM/DD/YYYY xxx  Description                    -->
<!-- ------------------------------------------------------------------------------->
<div class="modal-header">
    <h4 class="modal-title">Genesis Help</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 pr-1">
            <div class="form-group" >
                <label>For help, please call Genesis at (844) 510-0194</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" (click)="closeModalButtonClicked()" class="btn btn-primary" >Close</button>
        </div>
        
    </div>
    <div>
        <!-- Start of genesisreferencelabshelp Zendesk Widget script -->
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=2dc9f9dc-9dd4-45e4-9306-f4d54d00403a"> </script>
        <!-- End of genesisreferencelabshelp Zendesk Widget script -->
    </div>
</div>
