<div class="row" id="dailyListCard">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <h5 class="title">Daily</h5>
                    </div>
                    <div class="col-md-1 pr-1">
                      <button type="button" (click)="buttonPrevious()" class="btn btn-primary" >Previous</button>
                    </div>
                    <div class="col-md-2 pr-1" style="text-align: center;">
                      <h5>{{dailyDisp}}</h5>
                    </div>
                    <div class="col-md-1 pr-1">
                      <button type="button" (click)="buttonNext()" class="btn btn-primary" >Next</button>
                  </div>
                </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" datatable >
                  <!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"></table> -->
                  <thead class="text-primary">
                    <th>Account</th>
                    <th>Tox Urine</th>
                    <th>Tox Oral</th>
                    <th>RPP</th>
                    <th>UTI/STI</th>
                    <th>GPP</th>
                    <th>TOTAL</th>
                  </thead>
                  <tbody *ngIf="salesDailyData!=null">
                    <tr *ngFor="let item of salesDailyData" [ngClass]="{'total-sales-custom-row':item.isCustomRowData}">
                      <td>{{item.customer}}</td>
                      <td>{{item.toxUrine}}</td>
                      <td>{{item.toxOral}}</td>
                      <td>{{item.rpp}}</td>
                      <td>{{item.uti}}</td>
                      <td>{{item.gpp}}</td>
                      <td>{{item.total}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
  </div>